<div class="jumbotron">
  <app-search [placeholder]="'Buscar listas...'"></app-search>
  <div class="page-header">
    <h1>Listas</h1>
  </div>
  <button type="button" class="btn btn-primary" (click)="showForm = true">Nova lista</button>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Listas</a></li>
    <li class="breadcrumb-item"><a href="#">Lista 1</a></li>
    <li class="breadcrumb-item active">Nova lista</li>
  </ol>

  <div class="col-md-12">
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Mostrar listas arquivadas</label>
    </div>
  </div>

  <div class="row" *ngIf="!showForm">

    <div class="col-md-4 col-12" *ngFor="let list of lists">
      <app-card-list (onEditClicked)="onEdit(list)" (onArchivedClicked)="onArchived(list.id)" (onDeleteClicked)="onDelete(list.id)"
        [title]="list.title" [description]="list.description">
      </app-card-list>
    </div>

  </div>

  <div class="row" *ngIf="showForm">

    <div class="col-md-12">
      <app-form (onCancel)="cancel()" (onSave)="save($event)"></app-form>
    </div>

  </div>


</div>