<app-header [title]="'TODOLIST'"></app-header>
<router-outlet></router-outlet>











<!--
<div class="row">
  <div class="col-md-3 col-12" *ngFor="let list of [1,2,3,4,5,6]">
    <app-card-list
    (onEditClicked)="onEdit()"
    (onArchivedClicked)="onArchived()"
    (onDeleteClicked)="onDelete()"
    [title]="'Minha lsita'"
    [description]="'bal bal'">
  </app-card-list>
  </div>
</div> -->

<!--
@Output() onEditClicked = new EventEmitter();
@Output() onArchivedClicked = new EventEmitter();
@Output() onDeleteClicked = new EventEmitter(); -->
